.section.say-hello {
  position: relative;
  overflow: hidden;
  padding-top: 290px;
  padding-bottom: 290px;
}

.text-big-cta {
  position: absolute;
  color: #e8ebe8;
  font-size: 178px;
  line-height: 180px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #babbbd, -1px 0 0 #babbbd, 1px 0 0 #babbbd,
    0 -1px 0 #babbbd;
  white-space: nowrap;
}

.text-big-cta.top {
  left: -56%;
  top: 11%;
  right: 0%;
  bottom: auto;
}

.text-big-cta.bottom {
  left: 9%;
  top: auto;
  right: 0%;
  bottom: 11%;
}

@media screen and (max-width: 991px) {
  .section.say-hello {
    padding-top: 181px;
    padding-bottom: 181px;
  }

  .text-big-cta {
    font-size: 120px;
    line-height: 124px;
  }

  .text-big-cta.top {
    top: 7%;
  }

  .text-big-cta.bottom {
    bottom: 5%;
  }
}

@media screen and (max-width: 767px) {
  .section.say-hello {
    padding-top: 135px;
    padding-bottom: 135px;
  }

  .text-big-cta {
    font-size: 80px;
    line-height: 90px;
  }

  h2 {
    font-size: 37px;
    line-height: 48px;
  }

  p {
    font-size: 16px;
    line-height: 28px;
  }
}
