footer {
  padding-top: 0px;
  padding-bottom: 0px;
}

.footer-grid-top {
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 80px;
  -ms-grid-columns: 0.8fr 1fr;
  grid-template-columns: 0.8fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-top: 2px solid #191919;
}

.footer-logo {
  cursor: pointer;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .footer-grid-top {
    grid-column-gap: 20px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .footer-grid-top {
    padding-top: 50px;
    padding-bottom: 0px;
    justify-items: center;
    grid-row-gap: 24px;
    grid-template-columns: 1fr;
  }
}
